/* Hide the scrollbar for Chrome, Safari, and newer Edge */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide the scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  